.header {
  grid-area: h;
  background-color:#8EE4AF ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  display: inline-block;
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Login {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  background-color:   #379683;
  color: #EDF5E1;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.Login:hover {
  background-color:#EDF5E1;
  color:#379683;
}

.siteName {
  font-size: 24px;
  font-weight: bold;
  color: #05386B ;
  text-align: center;
  flex-grow: 1;
}
