.nav {
  grid-area: n;
  background-color: #5CDB95;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.item {
  color: #EDF5E1;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  transform: scale(1.1);
}

.active {
  color: #05386B  ;
  border-left: 5px solid #05386B ;
  padding-left: 5px;
}
