.descriptionBlock{
    padding: 10px;
}

.profImg{
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}

.status{
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}

