/* Стили для блока диалогов */
.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: calc(100vh - 80px); /* высота блока - высота хедера */
}
.dialog{}

.dialogItems {

  padding: 10px;
  background-color: #F2F2F2;
}

.dialogItems .active {
  color: gold;
}

/* Стили для блока сообщений */
.messages {
  padding: 10px;
  background-color: #FFFFFF;
  overflow-y: scroll; /* добавляем скроллбар, если сообщений много */
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 70%; /* задаем максимальную ширину сообщения */
}

.message.sent {
  background-color: #DCF8C6; /* цвет фона для отправленных сообщений */
  align-self: flex-end; /* выравнивание отправленных сообщений вправо */
}

.message.received {
  background-color: #E0E0E0; /* цвет фона для полученных сообщений */
  align-self: flex-start; /* выравнивание полученных сообщений влево */
}

/* Стили для поля ввода сообщения */
.dialogInput {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #F2F2F2;
  outline: none;
  margin-top: 20px;
  resize: none; /* запрещаем изменять размер поля ввода */
}

.dialogInput::placeholder {
  color: #BFBFBF;
}

.dialogInput:focus {
  background-color: #E0E0E0;
}

/* Стили для кнопки отправки сообщения */
.btnDialog {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: #0080FF;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btnDialog:hover {
  background-color: #0052D6;
}

/* Стили для ошибки валидации */
.error {
  color: red;
}
