.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: gold;
}

.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dialogInput {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #F2F2F2;
  outline: none;
  margin-top: 20px;
}

.dialogInput::placeholder {
  color: #BFBFBF;
}

.dialogInput:focus {
  background-color: #E0E0E0;
}

.btnDialog {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: #0080FF;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btnDialog:hover {
  background-color: #0052D6;
}

.dialogs form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
